#nav {
    list-style-type: none;      /*untuk menghilangkan tanda list*/
    /*background: #f1f1f1;*/       /*latar belakang untuk elemen list ketika belum aktif*/
    width: 170px;               /*lebar untuk kotak list*/
    margin: 1px;
    padding: 0;                 /*setting padding untuk kotak ul*/
    border:1px solid ;    /*setting border untuk kotak ul*/
    position: fixed;
    height: 100%;
    overflow: auto;
    /*background-image:url(https://cdn.pixabay.com/photo/2016/10/17/08/19/istanbul-1747157_960_720.png);*/
    background-image: url('image1.jpg');
    background-repeat: no-repeat;
    background-size: 170px 750px;
}

.dfdf {
    background-image: url(https://pixabay.com/en/blue-mosque-view-fog-goggy-mosque-201634/);
}

li a {
    font-family: sans-serif;
    color: black;
    font-size: 20px;            /*ukuran tulisan navigasi*/
    text-decoration: none;      /*untuk menghilangkan dekorasi teks seperti garis bawah */
    display: block;             /*menjadikan elemen list nya berjenis block-level*/
    padding: 8px 10px;          /*setting padding untuk list, atas bawah 8 pixel, kiri kanan 10 pixel*/
    border-bottom: 1px #555 solid; /*dari selectr #nav, properti border nya belum
                                        membuat garis bagian bawah masing-masing menu. Nah dengan
                                        perintah ini, kita membuat garis bagian bawah untuk masing-masing menu*/
    /*text-align: justify*/             /*menjadikan teks tulisan menu di tengah*/
}

li a:hover {
    background-color: green;    /*jika aktif, latar belakang akan berwarna hijau*/
    color: white;               /*jika aktif, tulisan akan berwarna putih*/
}

main {
    margin-top: 1%;
    margin-left:13%;            /*margin kiri untuk bagian utama halaman*/
    padding:0px 16px;          /*ukuran padding bagian utama*/
    height:1600px;          /*ini dibuat 1000px hanya untuk ngecek
                            kalau fixed navigation bar nya bekerja*/
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2013/10/28/01/30/blue-mosque-201634_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer {
    margin-left: 14%;
}

#abdullah {
    margin: 10px;
}

#garis-footer {
    margin-left: 13%;
}