
.nav {
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2017/09/14/22/42/milky-way-2750627_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
}

.nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    color: red;
} 



/*
.nav a:hover {
    background-color: rgb(140, 252, 140);    /*jika aktif, latar belakang akan berwarna hijau*/               /*jika aktif, tulisan akan berwarna putih*/
/*}
*/

.main {
    margin-top: 65px;
    margin-left: 15px;
}

body {
    background-image: url('image2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
}

footer {
    margin-left: 14%;
}

a {
    text-decoration: none;
}

a:hover {
    color:gold;
}

p {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 25px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

p:first-child { 
    background-color: yellow;
}