
.nav {
    overflow: hidden;
    background-color: rgb(104, 101, 101);
    top: 0;
    position: fixed;
    width: 100%;
}

.nav a {
    float: left;
    display: block;
    color: rgb(63, 6, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.nav a:hover {
    background-color: rgb(140, 252, 140);    /*jika aktif, latar belakang akan berwarna hijau*/
    color: gray;               /*jika aktif, tulisan akan berwarna putih*/
}

.main {
    margin-top: 65px;
    margin-left: 15px;
}

body {
    background-image: url('image2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
}

footer {
    margin-left: 14%;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 25px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}